body{
    margin: 0;
    padding: 0;
    background: url(login3.jpg);
    background-size:cover;
    background-position: center
    font-family: sans-serif;

 
}
.login-box{
    width: 434px;
    height: 665px;
    color: white;
    top: 21%;
    left: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    bottom: -247px;
    margin-right: 0px;
    margin-top: 142px;

}
.avatar{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    top: 31px;
    left: 113px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    padding: 0;
    font-weight: bold;
    height: 95px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    margin-right: 8px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: black;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}






























































